@import './base.css';
 
body {
  background-image: url(/background.png.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

